<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="/edituser/<%= result._id%>">   
        Enter Email : <input type="text" name="email" id="" value="<%= result.email%>"><br>
        Enter Password : <input type="text" name="password" id="" value="<%= result.password%>"><br>
        Enter Mobile : <input type="text" name="mobile" id="" value="<%= result.mobile%>"><br>

       <input type="submit" value="Edit">
</form> 
</body>
</html>