<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="/saveuser">   
        Enter Email : <input type="text" name="email" id=""><br>
        Enter Password : <input type="text" name="password" id=""><br>
        Enter Mobile : <input type="text" name="Mobile" id=""><br>
       Enter Father Name : <input type="text" name="fname" id=""><br>
       Enter Mather Name : <input type="text" name="mname" id=""><br>
       Enter My fav_Hobbies:<br>
       <input type="radio" id="" name="fav_hobbies">
       <label for="circket">circket</label><br>
       <input type="radio" id="" name="fav_hobbies">
       <label for="hoki">hoki</label><br>
       <input type="radio" id="" name="fav_hobbies">     
       <label for="football">football</label><br>
      Defines a checkbox:
       <input type="checkbox" id="" name="vehicle" value="Bike">
       <label for="vehicle1"> I have a bike</label><br>
       <input type="checkbox" id="" name="vehicle" value="Car">
       <label for="vehicle2"> I have a car</label><br>
       <input type="checkbox" id="" name="vehicle" value="Bus">
       <label for="vehicle2"> I have a bus</label><br>
      
       <input type="submit" name="submit">
</form> 
</body>
</html>